@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #000;

}

body {

    font-family: 'Inter', sans-serif;
    height: 100vh;
}

/*Logo next to nav bar*/
.logo {
    width: 20%;
}

.logo img {
    width: 100%;
    height: auto;
}

/*Navbar*/

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.navbar a {
    text-decoration: none;
    /* Remove underline */
    color: white;
    /* Change link color */
}

.navbar a:hover {
    color: green;
    /* Change link color on hover */
    transition: color 0.3s ease-in-out;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 50px;
    color: white;
    font-weight: 700;
    font-size: 20px;
}

ul li:hover {
    background: rgb(0, 0, 0);
    color: #ffffffe0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 60px;
    z-index: 1;
    font-size: 12px;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*Content in the Main of index.html*/

.container {
    max-width: 1400px;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-around;
}




#container {
    /* Use flexbox to align the cards horizontally */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;

    /* Add some space between the cards */
    gap: 20px;
}

.card {
    /* Add a fixed width to the cards */
    width: 300px;

    /* Change background color */
    background-color: white;

    /* Add border */
    border: 1px solid #bacdd8;

    /* Add space between the border and the content */
    padding: 8px;

    border-radius: 12px;

    /* Use flexbox to align the card content vertically */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__details {
    /* Add space around the details */
    padding: 16px 8px 8px 8px;
}

.tag {
    padding: 4px 8px;
    border: 1px solid #e5eaed;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 600;
    color: #788697;
}

.name {
    color: white;
    font-size: 24px;
    font-weight: 600;
    margin-top: 16px;
}

p {
    font-size: 14px;
    color: #7f8c9b;
    line-height: 150%;
}

button {
    border: none;
    padding: 12px 24px;
    border-radius: 50px;
    font-weight: 600;
    color: black;
    background-color: #e0efff;
    margin: 0 auto;
    display: block;
    cursor: pointer;
}

button:focus,
button:hover {
    background-color: green;
    color: #e0efff;
}

img {
    width: 100%;
    height: 214px;
    object-fit: cover;
}


/*Season Results Blog*/

#container2 {
    justify-content: center;
    width: 80%;
    margin: auto;
}

#container2 h1{
    background-color: transparent;
}
#container2 h2 {
    background-color: transparent;
}

#container2 h5{
    background-color: transparent;
}

#container2 article{
    border: 3px solid white;
    background-image: linear-gradient(to bottom right, rgb(33, 77, 33), rgb(16, 206, 16));
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
    color: white;
}

#container2 article p {
    color: white;
    font-size: 14px;
    line-height: 1.6;
    border: 3px solid white;
    border-radius: 10px;
        padding: 10px;
}

.scoreboard {
    margin: 20px auto;
    width: 40%;
    background-color: #fff;
    border: 5px solid green;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    color: black;
}

.scoreboard h2 {
    text-align: center;
    margin-top: 0;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 24px;
    background-color: #fff;
}

.scoreboard h4 {
    text-align: center;
    margin-top: 0;
    color: black;
    background-color: #fff;
}



.team {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    background-color: #fff;
    color: black;
}

.team .team-name {
    display: flex;
    align-items: center;
    background-color: #fff;
    color: black;
}


.team .team-name img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    background-color: #fff;
    color: black;
}

.team .team-name span {
    font-weight: bold;
    color: black;
    background-color: #fff;
}

.team .team-score {
    font-size: 24px;
    color: black;
    background-color: #fff;
}
/*Gallery*/
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
}

.gallery img {
    width: 100%;
    height: auto;
}

footer {
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

/*About us*/
#container3 {
    justify-content: center;
    width: 80%;
    margin: auto;
    color: white;
}
#container3 p{
    color: white;
}

.history{
    margin-bottom: 20px;
    margin-top: 20px;
}

.player-name {
    font-weight: bold;
    display: inline-block;
    width: 150px;
}

.player-number,
.player-role,
.committee-role {
    color: white;
    font-style: italic;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    width: 150px;
}
.player-image {
    width: 150px;
    /* Adjust the width as needed */
    height: 150px;
    /* Adjust the height as needed */
    object-fit: cover;
    /* Maintain aspect ratio and fill the container */
    border-radius: 10%;
    /* Optional: Rounded corners for a circular image */
}

ul {
    list-style-type: none;
    /* Remove the default bullet points */
}

/*Events page*/
